  /* 64em is alo 1028px when basefont is 16px */
  @media only screen and (min-width: 64em) {
      /* NAV - BEGIN */
    nav ul li a {
      padding: 0.6rem 2rem;
    }
      /* NAV - END */
body {
  max-width: 64rem;
}

        /***--------------- weathersummary BEGIN ----------------- */
        .weathersummaryoverlay h3 {
          font-size: 1.5rem;
        }
        .weathersummaryoverlay {
          position: absolute;
          top: 29rem;
          left: 42rem;
          font-size: 1.45rem;
          height: 200px;
          width: 250px;
          
          
        }

  }

